@model IEnumerable<UnderstandingEFProject.Models.Customer>


@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@*<ol>
    @foreach (var item in Model)
    {
        <li>@item.CustomersID @item.ContactName @item.Phone</li>
    }
</ol>*@