@model WebApplication3.Models.Customer
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
    Customer Id: @Model.Id
    <br />
    Customer Name: @Model.Name
    <br />
    Customer Age: @Model.Age
    <br />
    Customer PhoneNo: @Model.PhoneNo
    <br/>
</div>

