@model WebApplication3.Models.Employee
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
    Employee Id: @Model.Id
    <br/>
    Employee Name: @Model.Name
    <br/>
    Employee Age: @Model.Age
    <br/>
</div>

