@model IEnumerable<UnderstandingEFProject.Models.Product>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@*<ul>
    @foreach (var item in Model)
    {
        <li>@item.Id @item.Name @item.Price </li>
    }
</ul>*@

